body{
    background-color: aqua;
    margin: 0 auto;
    text-align: center;
}

.qbox {
    outline: solid 2px black;
    width: max-content;
    margin: 0 auto;
    padding: 10px;
    border-radius:10px;
}