* {
    color: #e7ecef;
}

body {
    font-family: "Michroma", sans-serif;
    background-color:#274c77;
}

h1 {
    color: #e7ecef;
}

fieldset {
    width: 40%;
    margin: 0 auto;
    text-align: left;
    border: solid 2px #e7ecef;
    border-radius: 15px;
    padding: 15px;
    background-color:#6096ba;
    color: #e7ecef;
}

input {
    margin: 5px;
    background-color: #a3cef1;
    color:#274c77;
}

select {
    background-color: #a3cef1;
    color:#274c77;
}

option {
    color:#274c77;
}

#signUpBtn {
    border-radius: 8px;
    background-color: #274c77;
    color:#e7ecef;
}

#signUpBtn:hover {
    background-color: #346196;
    transform: translateY(-2px);
    cursor: pointer;
    transition: background-color 0.1s ease-out, transition .2s ease-out;
}