* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    background-color: #31456b;
    color:white;
    text-align:center;
    margin: 0 auto;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-size:(2vw, 7vw);
    font-style: normal;
    letter-spacing: 2px;
}

#hobbyTitle{ 
    background-color: #6b92b6;
    color:#31456b;
    text-shadow: 0px 0px 4px white;
    text-align:center;
    margin: 0 auto;
    border-radius:10px;
    width:fit-content;
    padding: 10px;
}

hr {
    border: none;
    height: 2px;
    background-color: #6b92b6;
}

#currentPage {
    box-shadow: 5px 4px 2px black;
    text-shadow: 1px 1px 2px black;
    background-color: white;
    color:#31456b;
}

nav {
    text-align: center;
    margin: 25px;
    padding: 10px;
}

.navLinks {
    color: #FFFFFF;
    text-shadow: 3px 2px 2px black;
    font-size: 16px;
    background-color: #6b92b6;
    border:solid 3px #31456b;
    border-radius: 20px;
    padding: 15px;
    margin-right:10px;
    margin-left:10px;
    text-decoration: none;
}

.navLinks:hover {
    margin-right:13px;
    margin-left:13px;
    font-size: 14px;
    background-color: #567898;
}

.row {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.nameplate {
    text-align: center;
    text-shadow: 3px 2px 2px black;
    background-color: #31456b;
    color:white;
    margin: 0 auto;
    width:max-content;
    border:solid 3px #31456b;
    padding:10px;
    border-radius: 30px;
}

.headshot {
    border-style:solid;
    border-width: 4px;
    border-color:#31456b;
    border-radius: 50px;
    object-fit: cover;
}

#thanks {
    text-align: center;
    color:#31456b;
    text-decoration: underline;
    padding-bottom: 80px;
    font-size: 24px;
}

#quote {
    margin:0 auto;
    margin-top:50px;
    margin-bottom:50px;
    text-align:center;
    border:solid;
    border-width: 4px;
    border-radius: 30px;
    background-color: #6b92b6;
    color:#FFFFFF;
    text-shadow: 3px 2px 2px black;
    border-color:#31456b;
    width: max-content;
    padding:10px;
}

#experienceTable {
    margin: 5% auto;
    border-radius:30px;
    border:solid;
    border-width: 4px;
    border-color:#31456b;
    background-color: #6b92b6;
    text-align:center;
    color:#FFFFFF;
    font-size:24px;
    padding: 10px;
}

.tableTitles {
    background-color: #31456b;
    border-radius:10px;
}

th {
    padding-right:10px;
    padding-left:10px;
}

tr {
    padding: 8px;
}

.allFooter {
    text-align: center;
    font-size: 12px;
    padding:30px;
    color:darkgray;
}

#hobbiesList {
    text-align: center;
    list-style-position:inside;
    color:#31456b;
}

.hobbies {
    font-size:16px;
    margin: 10px;
}